---
layout: default
title: Home
show-title: no
permalink: /
---

<div class="timer">
    Days to go:
    <span class="timer__days  js-timer-days"></span> day<span class="js-timer-days-plural"></span>,
    <span class="timer__hours  js-timer-hours"></span> hour<span class="js-timer-hours-plural"></span>
    and
    <span class="timer__minutes  js-timer-minutes"></span> minute<span class="js-timer-minutes-plural"></span>!
</div>

<div class="postcard-row">
    {% include postcard.html
               size="full"
               image="st-salvators-quad.jpg"
               alt_text="St Salvator's Quadrangle in St Andrews"
               url="/wedding-day/"
               title="Wedding Day"
               caption="Friday 26 August 2022 in St Andrews" %}
</div>

<div class="postcard-row">
    {% include postcard.html
               size="half"
               image="us.jpg"
               alt_text="Annabel and Billy at St Andrews Graduation Ball 2017"
               url="/our-story/"
               title="Our Story" %}

    {% include postcard.html
               size="half"
               image="east-sands.jpg"
               alt_text="View of St Andrews across East Sands beach"
               url="/transport-and-directions/"
               title="Transport and Directions" %}
</div>

<div class="postcard-row">
    {% include postcard.html
               size="full"
               image="andrew-melville-hall.jpg"
               alt_text="Andrew Melville Hall"
               url="/accommodation/"
               title="Accommodation" %}
</div>

<div class="postcard-row">
    {% include postcard.html
               size="half"
               image="st-andrews-cathedral-light.jpg"
               alt_text="Ruins of the St Andrews Cathedral and St Rule's Tower"
               url="/st-andrews/"
               title="St Andrews" %}

    {% include postcard.html
               size="half"
               image="pier.JPG"
               alt_text="View of St Andrews from the end of the pier"
               url="/wedding-list/"
               title="Wedding List" %}
</div>
