<!-- JavaScript -->
<script src="/scripts/wufoo.js"></script>

<!--[if lt IE 10]>
<script src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<form id="form7"
      name="form7"
      class="wufoo topLabel page"
      accept-charset="UTF-8"
      autocomplete="off"
      enctype="multipart/form-data"
      method="post"
      novalidate
      action="https://druidofluhn.wufoo.com/forms/p1pkpbdw0mwxo36/#public">

        <header id="header" class="display--none">
            <h2 class="0">Wedding List</h2>
            <div class="0"></div>
        </header>

        <ul class="list--subtle">
            <li id="foli1" class="notranslate">
                <label for="Field1">
                    First Name:
                    <input id="Field1" name="Field1" type="text" class="field text fn" value="" size="16" tabindex="0" placeholder="" required />
                </label>
            </li>

            <li id="foli1" class="notranslate">
                <label for="Field2">
                    Last Name:
                    <input id="Field2" name="Field2" type="text" class="field text ln" value="" size="16" tabindex="0" placeholder="" required />
                </label>
            </li>

            <li id="foli3" class="notranslate">
                <label class="desc" id="title3" for="Field3">
                    Email:
                    <input id="Field3" name="Field3" type="email" spellcheck="false" class="field text medium" value="" maxlength="255" tabindex="0" placeholder="" required />
                </label>
            </li>

            <li id="foli4" class="display--none">
                <label class="desc" id="title4" for="Field4">
                    Wedding list items
                    <span id="req_4" class="req">*</span>
                </label>
                <div>
                    <textarea id="Field4" name="Field4" class="field textarea medium" spellcheck="true" rows="10" cols="50" tabindex="0" required></textarea>
                </div>
            </li>

            <li class="display--none">
                <div>
                    <input id="saveForm" name="saveForm" class="btTxt submit" type="submit" value="Submit" />    
                </div>
            </li>

            <li class="display--none">
                <label for="comment">Do Not Fill This Out</label>
                <textarea name="comment" id="comment" rows="1" cols="1"></textarea>
                <input type="hidden" id="idstamp" name="idstamp" value="LSMmzpqQ9dQw+bfoUIZet2LwrY26rjjj5fWjCTWdxs4=" />
                <input type="hidden" id="encryptedPassword" name="encryptedPassword" value="" />
            </li>
        </ul>
</form>
