<!DOCTYPE html>
<html lang="en" role="document">
    <head>
        <meta http-equiv="Content-Security-Policy" content="default-src 'none'; connect-src 'self'; font-src fonts.gstatic.com; img-src 'self'; script-src 'self'; style-src 'self' fonts.googleapis.com;">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett">
        <meta name="author" content="{{ site.author }}">
        <meta name="description" content="{{ site.description }}">

        <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>

        <link rel="stylesheet" type="text/css" media="screen" href="/css/global.css">
        <link href="https://fonts.googleapis.com/css?family=Arvo:400,400i|Open+Sans:400" rel="stylesheet"> 

        {% include favicon.html %}
    </head>
    <body>

        {% include navigation.html %}

        <header class="site__header">
            <h1 class="site__title">{{ site.title }}</h1>
        </header>

        <main class="site__main{% if page.is-content %}  site__main--content{% endif %}">
            {% if page.title and page.show-title != false %}
            <h2 class="page__title">{{ page.title }}</h2>
            {% endif %}
            {{ content }}
        </main>

        <footer class="site__footer">
            <p class="text--small">Copyright 2021 {{ site.author }}</p>
        </footer>

    </body>
</html>
